{% extends 'base.html' %}

{% block content %}
<div class="row">



    {% for paciente in pacientes %}
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
            <h5 class="card-header">CITA Nro. {{ loop.index }}</h5>
            <div class="card-body">
                <h5 class="card-title"><strong>Propietario:</strong> {{ paciente.propietario}}</h5>
                <h5 class="card-title"><strong>Nombre de mascota:</strong> {{ paciente.mascota}}</h5>
                <h5 class="card-title"><strong>Especie:</strong> {{ paciente.especie }}</h5>
                <h5 class="card-title"><strong>Programado para el:</strong> {{ paciente.fecha }}</h5> <br>


                <a href="/modificar/{{ paciente.id }}" class="btn btn-sm btn-warning">Editar</a>
                <a href="/cancelar/{{ paciente.id }}" class="btn btn-sm btn-danger" onclick="return confirm('Estas seguro de cancelar la cita?')">Cancelar</a>
            </div>
        </div>
    </div>
    {% else %}
    <h1>No hay pacientes programadas</h1>
    {% endfor %}
</div>
{% endblock %}