{% extends 'base.html' %}

{% block content %}
<div class="row">



    {% for cita in citas %}
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
            <h5 class="card-header">CITA Nro. {{ loop.index }}</h5>
            <div class="card-body">
                <h5 class="card-title">Propietario: {{ cita.propietario}}</h5>
                <h5 class="card-title">Nombre de mascota: {{ cita.mascota}}</h5>
                <h5 class="card-title">Especie: {{ cita.especie }}</h5>
                <h5 class="card-title">Programado para el: {{ cita.fecha }}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% else %}
    <h1>No hay citas programadas</h1>
    {% endfor %}
</div>
{% endblock %}